@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.wrapper{
  width: 100vw;
  height: 100vh;
  background-color: #1a1b1f;
  color: #fff;
}

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.brand{
  margin-top: 7px;
}

.brand span{
  color: #2e9a00;
}

.menu{
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.menu li{
  list-style: none;
}

.menu a{
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

.menu .activo{
  color: #2e9a00;
  font-weight: bold;
}

.menu a:hover{
  background-color: #2e9a00;
  color: #ffffff;
  transition: ease-in .2s;
}

.toggle-menu, .info-content__subtitle, .info-content .sotial-network{
  display: none;
}

/*Estilos del main*/

.main{
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
}

.main img{
  width: 300px;
  border: 7px solid #2e9a00;
  border-radius: 20px;
  box-shadow: 1px 3px 11px -5px rgba(64, 202, 0, 69);
}

h1{
  font-size: clamp(4vw, 1.5em, 3em);
}
h1 span{
  color: #2e9a00;
}

.main p{
  font-size:large;
}

.download-cv, .project-details{
  padding: 10px 20px;
  background-color: #2e9a00;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(64, 202, 0, 69);
}

.download-cv:hover{
  background-color: #fff;
  box-shadow: none;
}

/*Estilos del about*/

.about{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100vw;
  align-items: center;
  background-color: #e6e6e6;
}

.about img{
  max-width: 100%;
  grid-column: 1/5;
}

.about-info{
  grid-column: 5/10;
  padding: 2em;
}

.about-info h2{
  font-size: 2em;
  color: #1a1b1f;
}

.divider{
  height: 4px;
  width: 60px;
  background-color: #2e9a00;
  margin-top: 5px;
  margin-bottom: 2em;
}

.about p{
  margin-bottom: 1em;
  color: #000;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-style: bold;
}

.portfolio{
  width: 100vw;
  background-color: #1a1b1f;
  color: #fff;
}

.portfolio-headings{
  width: 100vw;
  padding: 1em;
}

.portfolio-headings h2{
  font-size: 2.5em;
}

.portfolio{
  display: flex;
  flex-direction: column;
}

.container{
  display: flex;
  flex-direction: column;
  margin-left: 280px;
}

.card{
  width: 700px;
  color: #fff;
  background-color: #2a2c32;
  margin: 2em;
  border-radius: 20px;
}

.card-img{
  width: 100%;
  height: 350px;
  background-image: url('../img/encriptador.png');
  background-size: cover;
  border-radius: 20px 20px 0px 0px;
}

.card-img-2{
  width: 100%;
  height: 350px;
  background-image: url('../img/apeperia-web.png');
  background-size: cover;
  border-radius: 20px 20px 0px 0px;
}

.card-img-3{
  width: 100%;
  height: 350px;
  background-image: url('../img/barberia-alura.png');
  background-size: cover;
  border-radius: 20px 20px 0px 0px;
}

.card-img-4{
  width: 100;
  height: 350px;
  background-image: url('../img/Alurageek.png');
  background-size: cover;
  border-radius: 20px 20px 0px 0px;
}

.card-title{
  padding: 20px;
}

.projects-links{
  display: flex;
  justify-content: space-evenly;
}

.projects-links a{
  color: #fff;
  text-decoration: none;
}

.projects-links i{
  font-size: 2.5em;
}

.project-details{
  margin: 0 auto;
  margin: 1em;
  width: 30%;
}

.project-details a{
  text-decoration: none;
  color: #191c32;
  text-transform: uppercase;
}

.project-details-content{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1em;
}

/*Contact section*/

.contact-headings h2{
  font-size: 3em;
}

.contact-section{
  padding: 1em;
}

.container-contact{
  padding: 3em;
  margin: 0 auto;
}

.container-contact img{
  width: 50%;
  bottom: 0;
}

.contact-form{
  margin-left: 320px;
  margin-top: 2em;
}

.contact-form h3{
  margin-left: 510px;
}

.form{
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
  margin-left: 420px;
}

.form input{
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.form textarea{
  height: 150px;
  background: none;
  color: #fff;
  padding: 1.5em;
  border: 1px solid #fff;
}

.bnt-submit{
  padding: 10px 20px;
  margin: 1em;
  border: none;
  text-transform: uppercase;
  background-color: #2e9a00;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(64, 202, 0, 69);
}

.bnt-submit:hover{
  background-color: #fff;
  box-shadow: none;
}

/*Estilos del footer*/

.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  background-color: #e6e6e6;
  color: #000;
  
}

.footer-content h2{
  text-align: center;
  font-size: 3em;
}

.footer-content h5{
  text-align: center;
  font-size: 1.5em;
}

.sotial-network{
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
}

.sotial-network i{
  text-align: center;
  font-size: 1.5em;
  color: #174c00;
}

span{
  color: #2e9a00;
}

@media screen and (max-width: 800px) {
  .wrapper{
    width: 100vw;
    height:150vw;
    background-color: #1a1b1f;
    color: #fff;
  }

  .menu{
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 70vh;
    background-color: #1a1b1fc3;
    z-index: 1;
    transform: translateX(-110%);
    transition: all .5s ease-in-out;
  }

  .show-menu{
    transform: translateX(0%);
    transition: all .5s ease-in-out;
  }

  .menu li{
    margin: 2em;
  }

  .toggle-menu{
    display: block;
  }

  .fa-bars{
    font-size: 1.5em;
  }

  .toggle-menu .fa-close{
    font-size: 1.7em;
    display: none;
  }
  

  .main, .about{
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }

  .main img{
    width: min(70%, 350px);
  }

  .info-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .info-content .sotial-network, .info-content__subtitle{
    display: block;
  }

  .info-content__subtitle{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #fff;
  }

  .info-content .sotial-network{
    display: flex;
    justify-content: space-evenly;
  }

  .download-cv{
    display: none;
  }

  .info-content__p{
    display: none;
  }

  .container{
    display: flex;
    flex-direction: column;
    margin: auto
  }

  .card{
    width: auto;
    color: #fff;
    background-color: #2a2c32;
    margin: 1em;
    border-radius: 10px;
  }

  .card-img{
    width: 100%;
    height: 150px;
    background-image: url('../img/encriptador.png');
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
  }

  .card-img-2{
    width: 100%;
    height: 150px;
    background-image: url('../img/apeperia-web.png');
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
  }

  .card-img-3{
    width: 100%;
    height: 150px;
    background-image: url('../img/barberia-alura.png');
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
  }

  .card-img-4{
    width: 100%;
    height: 150px;
    background-image: url('../img/Alurageek.png');
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
  }
  
  .projects-links i{
    font-size: 1.5em;
  }

  .project-details{
    margin: 0 auto;
    margin: 1em;
    width: 70%;
  }

  .container-contact img{
    width: 100%;
    bottom: 0;
  }

  .contact-form{
    margin-left: 0px;
    margin-top: 2em;
  }

  .form{
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin-top: 0.5em;
    margin-left: 0px;
  }

  .contact-form h3{
    margin-left: 10px;
  }

}